# Socrates files
*.mod
*.o
radiation_code.lock
socrates
SOCRATES

# FastChem folder
fastchem
FastChem

# Package
deps/*.log
test/out/
Manifest.toml
*.cov

# Docs
docs/build

# Spectral data
*.par
*.xsc
*.bin

# Model data
res/spectral_files/*
res/stellar_spectra/*
res/surface_albedos/*
res/thermodynamics/*.nc
!res/*/_readme.txt

# Output files
out/*
runtime.sf
runtime.sf_k
socstar.dat

# Misc files
.DS_Store
__pycache__
debug/
nogit*
.osfcli.config

# Paper
paper/main.pdf
