# Socrates files
.spfile_runtime
.spfile_runtime_k
.star_file
.star_temp
.socstar
*.mod
*.o
radiation_code.lock

# Spectral data 
*.par 
*.xsc
*.bin
res/spectral_files/*/4096
res/spectral_files/Reach/
res/spectral_files/Dayspring

# Output files 
out/*

# Misc files
.DS_Store
.vscode 
__pycache__
debug/
nogit_*
