# Socrates files
*.mod
*.o
radiation_code.lock
socrates/bin/*
socrates/set_rad_env
socrates/sbin/Cgen_null
socrates/sbin/Cinc_field
socrates/sbin/Cscale_field

# Spectral data 
*.par 
*.xsc
*.bin
res/spectral_files/*/4096
res/spectral_files/Reach/
res/spectral_files/Dayspring

# Output files 
out/*
runtime.sf
runtime.sf_k 
socstar.dat

# Misc files
.DS_Store
.vscode 
__pycache__
debug/
nogit_*
