# AGNI configuration file
title = "Transparent atmosphere"

[planet]
    tmp_surf        = 2500.0
    instellation    = 6818.61
    albedo_b        = 0.0
    s0_fact         = 0.25
    zenith_angle    =  54.74
    surface_material= "res/surface_albedos/ecostress/mineral/carbonate/none.fine.vswir.c-1a.jpl.beckman.spectrum.dat"
    albedo_s        = 0.0
    radius          = 8.091e6
    gravity         = 12.7
    flux_int        = 0.0
    skin_k          = 2.0
    skin_d          = 0.01
    tmp_magma       = 3200.0

[files]
    input_sf        = "res/spectral_files/Frostflow/256/Frostflow.sf"
    input_star      = "res/stellar_spectra/l-98-59.txt"
    output_dir      = "out/"

[composition]
    transparent     = true

[execution]
    clean_output    = true
    verbosity       = 2
    max_steps       = 200
    max_runtime     = 400
    num_levels      = 50
    solution_type   = 1
    solver          = "transparent"
    dx_max          = 200.0
    initial_state   = ["loglin","600"]
    linesearch      = 0
    easy_start      = false
    grey_start      = false
    converge_atol   = 1e-1
    converge_rtol   = 1.0e-3
    perturb_all     = true

[physics]
    chemistry       = false
    continua        = true
    rayleigh        = false
    cloud           = false
    aerosol         = false
    overlap_method  = "ee"
    real_gas        = false
    thermo_funct    = false
    sensible_heat   = false
    conduction      = true
    advection       = false
    latent_heat     = false
    convection      = false
    convection_crit = "s"
    rainout         = false

[plots]
    at_runtime      = true
    temperature     = true
    fluxes          = true
    contribution    = true
    emission        = true
    albedo          = true
    mixing_ratios   = true
    animate         = false
    height          = false
    cloud           = false
