# This job installs AGNI and SOCRATES, and tests AGNI
# This occurs when a PR to main is created

name: Tests

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: [main]
  push:
      branches: [main]

jobs:
  install:
    runs-on: ubuntu-latest
    name: install_and_test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Setup system
      - name: NetCDF
        run: |
          sudo apt update
          sudo apt-get install libnetcdff-dev netcdf-bin gfortran gcc

      # Setup Julia
      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'

      - name: Cache Julia
        uses: julia-actions/cache@v2

      # Setup SOCRATES
      - name: Get SOCRATES
        uses: actions/checkout@v6
        with:
          repository: 'nichollsh/SOCRATES'
          path: 'SOCRATES'

      - name: Restore SOCRATES from cache
        uses: actions/cache@v4
        id: cache-socrates
        with:
          path: |
            SOCRATES/bin
            SOCRATES/sbin
            SOCRATES/set_rad_env
          key: socrates-${{ hashFiles('SOCRATES/version') }}

      - name: Build SOCRATES if required
        if: steps.cache-socrates.outputs.cache-hit != 'true'
        run: |
          export LD_LIBRARY_PATH=""
          export RAD_DIR="/home/runner/work/AGNI/AGNI/SOCRATES"
          cd $RAD_DIR
          ./configure
          ./build_code
          cd ..

      - name: Build AGNI
        run: |
          export RAD_DIR="/home/runner/work/AGNI/AGNI/SOCRATES"
          export RAD_BIN="$RAD_DIR/bin/"
          export LD_LIBRARY_PATH=""
          julia --project=. -e 'using Pkg; Pkg.build()'

      # Run the tests
      - name: Run AGNI test suite
        run: |
          export RAD_DIR="/home/runner/work/AGNI/AGNI/SOCRATES"
          export LD_LIBRARY_PATH=""
          cd test/
          julia --project=.. --code-coverage runtests.jl

      - name: Get coverage
        run: |
          julia --project=. test/get_coverage.jl

      # Upload output dir for inspection by user
      - name: Upload result as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-artifact
          path: |
            out/*

